<div >
    <button class="btn btn-primary"  (click)="back()"> Back</button>
    <button class="btn btn-primary" > upVote </button>
    <button class="btn btn-primary" > DownVote </button>
    <button class="btn btn-primary" > Edit </button>
    <button class="btn btn-primary" > Delete </button>
</div>
<div style="margin: 0 auto; width:50vw">
    <h3 class="content-head">{{ articleDetails.title }}</h3>
    <p class="data-container" id="data-container"></p>
</div>
<div class="contributor-container" id="contributor-container">
    <h4 class="contributor-head">Contributor: {{ articleDetails.contributor }}</h4>
</div>
