<div class="button-panel">
    <button class="btn btn-default fa fa-arrow-left"  (click)="back()"> Back</button>
    <button class="btn btn-success fa fa-thumbs-up" pTooltip="I support this article." tooltipPosition="bottom" showDelay="200" hideDelay="100"> Upvote </button>
    <button class="btn btn-warning fa fa-thumbs-down" pTooltip="Useless! Not worth reading." tooltipPosition="bottom" showDelay="200" hideDelay="100"> Downvote  </button>
    <button class="btn btn-warning fa fa-copy" pTooltip="A similar article exists." tooltipPosition="bottom" showDelay="200" hideDelay="100"> Duplicate </button>
    <button class="btn btn-danger fa fa-remove" pTooltip="Irrelevant! Remove this immediately" tooltipPosition="bottom" showDelay="200" hideDelay="100"> Misleading </button>
</div>
<div style="margin: 0 auto; width:50vw">
    <h3 class="content-head">{{ articleDetails.title }}</h3>
    <p class="data-container" id="data-container"></p>
</div>
<div class="contributor-container" id="contributor-container">
    <h4 class="contributor-head">Contributor: {{ articleDetails.contributor }}</h4>
</div>
