<div class="search-wrapper">
    <input type="search" class="search-input" placeholder="For eg: react" [(ngModel)]='text'>
    <button class="btn btn-outline-danger my-2 my-sm-0" (click)="pressed(text)">Search</button>
</div>
<div class="search-wrapper">
    <h5>Showing results for: {{resulttext}}</h5>
</div>
<div class="row mt-5">
    <div class="col-md-4 mb-3" *ngFor="let article of filteredArticles; let i = index;">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">{{article.title}}</h5>
                <a (click)="goToArticle(article)" class="btn btn-primary">Read More</a>
            </div>
            <div class="card-footer text-muted">
                {{article.date}}
            </div>
        </div>
    </div>
</div>