<div class="container-fluid">
  <div class="row justify-content-center" style="margin-top: 40px;">
    <div class="col-8">
      <div class="jumbotron">
        <h3>Login</h3>

        <div>
          <!-- registration form starts here -->
          <form [formGroup]="form" novalidate>
            <div class="form-group">
              <label for="usernameInput">User Name</label>
              <input formControlName="username" type="text" class="form-control" id="usernameInput" placeholder="Enter username">              
            </div>

            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input formControlName="password" type="password" class="form-control" id="passwordInput" placeholder="Enter Password">
            </div>

            <button type="submit" (click)="onSubmit()" class="btn btn-primary" [disabled]="!form.valid">Submit</button>

            <br><br>
            <hr>
            <div class="validations" *ngIf="form.touched">
              
              <span>
                  <i class="fa fa-check-circle" style="color:green;" *ngIf="form.controls.username.valid"></i>
                  <i class="fa fa-times-circle" style="color:firebrick;"  *ngIf="form.controls.username.invalid"></i>
                  Username should be minimum 4 characters long.
              </span>
              <br>
              <span>
                  <i class="fa fa-check-circle" style="color:green;"  *ngIf="form.controls.password.valid"></i>
                  <i class="fa fa-times-circle" style="color:firebrick;" *ngIf="form.controls.password.invalid"></i>
                  Password should be minimum 4 characters long.
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>