<div class="container-fluid" align=center>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <img class="actual-image" src="../assets/images/hero-commute.gif" alt="wallpaper">
    </div>
  </div>
</div>
<br><br>
<div align=center>
  <span class="first">Hey!</span>&nbsp;
  <span class="second">Where do you think you're going?</span>
</div>
<div align=center>
  <span class="third">You're on the wrong</span>&nbsp;
  <span class="fourth">Route.</span>&nbsp;
  <span class="fifth">Go back.</span>
</div>
