.owl-carousel, .owl-stage {
    margin-top: 100px !important;
}

.sponcer-image {
    max-width: 130px;
}

#template{
  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  
  }
  span{
    border: 2px solid black;
    height: 100px;
    width: 100%;
  }