<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <div id="template"><img class="sponcer-image" src="../../assets/images/meganz.png"></div>
    </ng-template> 
    <ng-template carouselSlide>
    <div id="template"><img class="sponcer-image" src="../../assets/images/kendoui.png"></div>
        </ng-template>  
    <ng-template carouselSlide>
        <div id="template"><img class="sponcer-image" src="../../assets/images/primeng.png"></div>
    </ng-template>  
    <ng-template carouselSlide>
        <div id="template"><img class="sponcer-image" src="../../assets/images/mongodb.png"></div>
    </ng-template>  
    <ng-template carouselSlide>
        <div id="template"><img class="sponcer-image" src="../../assets/images/angular.png"></div>
    </ng-template>  
    <ng-template carouselSlide>
        <div id="template"><img class="sponcer-image" src="../../assets/images/github.png"></div>
    </ng-template>  
</owl-carousel-o>
