<owl-carousel-o class="sponcer-carousel" [options]="customOptions">
    <ng-template carouselSlide>
        <img class="sponcer-image" src="../../assets/images/meganz.png">
    </ng-template>  
    <ng-template carouselSlide>
        <img class="sponcer-image" src="../../assets/images/kendoui.png">
    </ng-template>    
    <ng-template carouselSlide>
        <img class="sponcer-image" src="../../assets/images/primeng.png">
    </ng-template>  
    <ng-template carouselSlide>
        <img class="sponcer-image" src="../../assets/images/mongodb.png">
    </ng-template> 
    <ng-template carouselSlide>
        <img class="sponcer-image" src="../../assets/images/angular.png">
    </ng-template>
    <ng-template carouselSlide>
        <img class="sponcer-image" src="../../assets/images/github.png">
    </ng-template>
</owl-carousel-o>